.main{
    width: 100%;
    height: fit-content;
    background: #181818;
    padding-top: 5rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.main__flex{
    flex: 1;
    padding-left: 15rem;
}