:root{
    --white-color: #fff
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    overflow-y: scroll;
}

a{
    text-decoration: none;
    cursor: pointer;
}

button{
    cursor: pointer;
}

.bottom{
    display: flex;
    height: 94.2vh;
}